@page "/DeleteUser/{Id}"
@using Employee_Crud_Blazor.Data
@inject UsersService userService
@inject NavigationManager NavigationManager

<h3>Delete Employee</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="Id" class="control-label">User ID</label>
                <label>@obj.Id</label>
            </div>
            <div class="for-group">
                <label for="FirstName" class="control-label">First Name</label>
                <label>@obj.FirstName</label>
            </div>
            <div class="for-group">
                <label for="Login" class="control-label">Login</label>
                <label>@obj.Login</label>
            </div>
            <div class="for-group">
                <label for="LastName" class="control-label">Last Name</label>
                <label>@obj.LastName</label>
            </div>
            <div class="for-group">
                <label for="Email" class="control-label">Email Address</label>
                <label>@obj.Email</label>
            </div>
            <div class="for-group">
                <label for="CreateDate" class="control-label">Create Date</label>
                <label>@obj.CreateDate</label>
            </div>
            <div class="for-group">
                <label for="Password" class="control-label">Password</label>
                <label>@obj.Password</label>
            </div>
            <div class="for-group">
                <label for="Password2" class="control-label">Password2</label>
                <label>@obj.Password2</label>
            </div>
            <div class="for-group">
                <label for="DeleteDate" class="control-label">Delete Date</label>
                <label>@obj.DeleteDate</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@DeleteUserRecord" value="Delete User" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Users obj = new Users();

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => userService.GetUserById(Convert.ToInt32(Id)));
    }

    protected async void DeleteUserRecord()
    {
        obj.DeleteDate = DateTime.Today;
        await userService.UpdateUserDetails(obj);
        NavigationManager.NavigateTo("Users");
    }
    protected async void Cancel()
    {
        NavigationManager.NavigateTo("Users");
    }
}
