@page "/DeleteUserProfile/{UsersId}"
@using Employee_Crud_Blazor.Data
@inject UsersService userService
@inject UserProfileService userProfileService
@inject NavigationManager NavigationManager

<h3>DeleteUserProfile</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="Id" class="control-label">UserProfile ID</label>
                <label>@objUserProfile.Id</label>
            </div>
            <div class="for-group">
                <label for="UserName" class="control-label">Username</label>
                <label>@objUserProfile.UserName</label>
            </div>
            <div class="for-group">
                <label for="BirthDate" class="control-label">Birth Date</label>
                <label>@objUserProfile.BirthDate</label>
            </div>
            <div class="for-group">
                <label for="Height" class="control-label">Height</label>
                <label>@objUserProfile.Height</label>
            </div>
            <div class="for-group">
                <label for="AboutMe" class="control-label">About Me</label>
                <label>@objUserProfile.AboutMe</label>
            </div>
            <div class="for-group">
                <label for="CityId" class="control-label">CityId</label>
                <label>@objUserProfile.CityId</label>
            </div>
            <div class="for-group">
                <label for="GenderId" class="control-label">GenderId</label>
                <label>@objUserProfile.GenderId</label>
            </div>
            <div class="for-group">
                <label for="UsersId" class="control-label">UsersId</label>
                <label>@objUserProfile.UsersId</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@DeleteUserProfileRecord" value="Delete UserProfile" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string UsersId { get; set; }
    Users objUser = new Users();
    UserProfile objUserProfile = new UserProfile();

    protected override async Task OnInitializedAsync()
    {
        objUserProfile = await Task.Run(() => userProfileService.GetUserProfileByUserId(Convert.ToInt32(UsersId)));

        objUser = await Task.Run(() => userService.GetUserById(Convert.ToInt32(UsersId)));
    }

    protected async void DeleteUserProfileRecord()
    {        
        await userProfileService.DeleteUserProfile(objUserProfile);
        NavigationManager.NavigateTo($"/UserHomePage/{objUser.Login}");
    }
    protected async void Cancel()
    {
        NavigationManager.NavigateTo($"/UserHomePage/{objUser.Login}");
    }
}
