@page "/EditUserProfile/{UsersId}"
@using Employee_Crud_Blazor.Data
@inject UsersService userService
@inject UserProfileService userProfileService
@inject NavigationManager NavigationManager

<h3>Edit Profile</h3>

<p>Hej @objUserProfile.UserName</p>

<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="UserName" class="control-label">UserName</label>
                <input form="UserName" class="form-control" @bind="@objUserProfile.UserName" />
            </div>
            <div class="for-group">
                <label for="BirthDate" class="control-label">BirthDate</label>
                <input form="BirthDate" class="form-control" @bind="@objUserProfile.BirthDate" />
            </div>
            <div class="for-group">
                <label for="Height" class="control-label">Height</label>
                <input form="Height" class="form-control" @bind="@objUserProfile.Height" />
            </div>
            <div class="for-group">
                <label for="AboutMe" class="control-label">About Me</label>
                <input form="AboutMe" class="form-control" @bind="@objUserProfile.AboutMe" />
            </div>
            <div class="for-group">
                <label for="CityId" class="control-label">City Id</label>
                <input form="CityId" class="form-control" @bind="@objUserProfile.CityId" />
            </div>
            <div class="for-group">
                <label for="GenderId" class="control-label">Gender Id</label>
                <input form="GenderId" class="form-control" @bind="@objUserProfile.GenderId" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateUserProfile" value="Update User" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>




@code {
    [Parameter]
    public string UsersId { get; set; }
    Users objUser = new Users();
    UserProfile objUserProfile = new UserProfile();

    protected override async Task OnInitializedAsync()
    {
        objUserProfile = await Task.Run(() => userProfileService.GetUserProfileByUserId(Convert.ToInt32(UsersId)));

        objUser = await Task.Run(() => userService.GetUserById(Convert.ToInt32(UsersId)));
    }

    protected async void UpdateUserProfile()
    {
        await userProfileService.UpdateUserProfileDetails(objUserProfile);
        NavigationManager.NavigateTo($"/UserHomePage/{objUser.Login}");
    }
    protected async void Cancel()
    {
        NavigationManager.NavigateTo($"/UserHomePage/{objUser.Login}");
    }
}
